<div class="row">
  <div class="col-md-4">
    <%= simple_form_for @offer_form, url: offers_url, method: :get do |f| %>
      <%= f.input :uid %>
      <%= f.input :pub0 %>
      <%= f.input :page %>
      <%= f.button :submit, "Find", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>